<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="#" class="finance"><span class="nav-span">Finance</span> Ledger</a>
      <ul class="header-list">
        <li><a class="header-link" href="#home">Home</a></li>
        <li><a class="header-link" href="#about">About</a></li>
        <li><a class="header-link" href="#cases">Cases</a></li>
        <li><a class="header-link" href="#blog">Blog</a></li>
        <li><a class="header-link" href="#contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
