<section class="section-our-team">
    <div class="container container-our-team">
      <div class="container-img">
        <img
          class="team-img"
          src="./images/ourteam.jpg"
          alt="Our Team"
          width="670"
          height="460"
        />
      </div>
      <div class="container-description">
        <p class="team-subtitle">What you are looking for</p>
        <h2 class="team-title">We provide bespoke solutions</h2>
        <p class="team-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <button type="button" class="button-our-team">Read More</button>
      </div>
    </div>
  </section> 